@media screen and (max-width: 576px) {
    /* nav{
        flex-direction: column;
    }

    .items-container{
        display: none;

    }
    .items-container img{
        align-items: flex-end;
    } */
}