@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

/* shared styles */
.button {
    background-color: #ff5400;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 15px;
    margin-top: 50px;
}

main,
header {
    max-width: 1150px;
    margin: 0 auto;
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 25px 0px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-container img {
    width: 50px;
    margin-right: 15px;
}

.nav-container h1 {
    font-size: 26px;
    font-weight: 800;
}

.nav-container span {
    color: #ff5400;
}

.items-container {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: end;
}

.items-container h3:hover {
    color: #ff5400;
}

.items-container .home {
    color: #ff5400;
}

.menu-icon {
    display: none;
}

/* banner section.... */

.banner {
    height: 65vh;
    margin: 100px auto 0 auto;
    border-radius: 15px;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("./Images/Group 13 (1) (1).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.banner p {
    font-size: 20px;
}

.banner-input {
    margin: 35px 15px 0px 0px;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
}

.out-box button {
    background-color: #ff5400;
    color: white;
}

/* main section...... */
/* our tour section */

.our-tour {
    margin: 120px 0px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.tour-text h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.tour-text p {
    margin: 20px 0;
    color: #131318;
    font-size: 22px;
    font-weight: 500;
}

.tour-text li {
    color: #131318;
    font-size: 20px;
    font-weight: 500;
}

/* destination section...... */

.responsive-destination {
    display: none;
}

.destination {
    margin: 100px auto;
}

.destination-text {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.destination-text h1 {
    font-size: 45px;
}

.destination-text p {
    margin: 20px 0px 60px;
}

.destination-img-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.destination-img-container div {
    height: 300px;
    border-radius: 15px;
    color: white;
    font-size: 30px;
    font-weight: 800;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
    grid-column: span 6;
    background-image: url("./Images/Rectangle 5.png");
}

.img2 {
    grid-column: span 6;
    background-image: url("./Images/Rectangle 6.png");
}

.img3 {
    grid-column: span 3;
    background-image: url("./Images/Rectangle 7.png");
}

.img4 {
    grid-column: span 6;
    background-image: url("./Images/Rectangle 8.png");
}

.img5 {
    grid-column: span 3;
    background-image: url("./Images/Rectangle 9.png");
}

.img6 {
    grid-column: span 5;
    background-image: url("./Images/Rectangle 10.png");
}

.img7 {
    grid-column: span 7;
    background-image: url("./Images/Rectangle 11.png");
}

/*deals discount section*/

.deals-discount {
    margin: 100px 0px;
}

.deals-discount-text h1 {
    font-size: 45px;
    text-align: center;
}

.deals-discount-text p {
    margin: 20px 0px 60px;
    text-align: center;
}

.fast-card {
    padding: 60px;
    border-radius: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("./Images/Group 39.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
}

.second-card {
    margin: 50px 0px;
    padding: 60px;
    border-radius: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("./Images/Group 40.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.third-card {
    padding: 60px;
    border-radius: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("./Images/Group 39.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
}

.card-text {
    padding: 30px;
    width: 50%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2.5px);
}

.second-card-text {
    padding: 30px;
    width: 50%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2.5px);
}

.fast-line {
    display: flex;
    justify-content: space-around;
}

.one-icon {
    display: flex;
}

.two-icon {
    display: flex;
}

.three-icon {
    display: flex;
}

.card-discription h2 {
    margin-top: 20px;
    font-size: 1.5em;
}

.card-discription h3 {
    margin-top: 20px;
    font-size: 1.2em;
    color: #ff5400;
}

.card-discription p {
    margin: 20px auto;
}

.second-card-text h2 {
    font-size: 1.5em;
    margin-top: 20px;
}

.second-card-text h3 {
    font-size: 1.2em;
    margin-top: 20px;
    color: #ff5400;
}

.deals-discount-button {
    text-align: center;
}

.our-tour video {
    height: 100%;
    width: 100%;
}

.why-choose-us h1 {
    align-items: center;
    text-align: center;
}

.why-choose-us .parant-p {
    align-items: center;
    text-align: center;
}

.why-choose-us h1 {
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 20px;
}

.row-one {
    margin: 50px auto;
    padding: 10px 0px;
    display: flex;
    gap: 20px;
}

.one-child {
    padding: 20px;
    width: 100%;
    border-radius: 16px;
    border: 3px dotted rgba(209, 117, 13, 0.2);
    background: rgba(228, 132, 23, 0.05);
}

.one-child h3 {
    margin: 20px auto;
}

.two-child {
    padding: 20px;
    width: 100%;
    border-radius: 16px;
    border: 3px dotted rgba(209, 117, 13, 0.2);
    background: rgba(12, 179, 221, 0.05);
}

.two-child h3 {
    margin: 20px auto;
}

.third-child {
    margin: 20px auto;
    width: 50%;
    padding: 20px;
    border-radius: 16px;
    border: 3px dotted rgba(209, 117, 13, 0.2);
    background: rgba(226, 39, 39, 0.05);
}

.third-child h3 {
    margin: 20px auto;
}

.video {
    width: 80%;
    height: 500px;
}

/* Newsletter Part..... */

.newslater {
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.stiker {
    color: white;
    position: absolute;
    text-align: center;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #ff5400;
    font-size: 1em;
    padding: 10px 15px;
    right: 15px;
    bottom: 50px;
}

.stiker span {
    font-size: 2em;
}

.newsletter-text h2 {
    color: #131318;
    font-family: Mulish;
    font-size: 30px;
    font-weight: 800;
}

.newsletter-text p {
    margin: 30px auto;
}

.input-fild {
    margin-top: 50px;
}

.input-fild .class-one {
    color: white;
    font-size: 1.2em;
    font-weight: 800;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 52px;
    padding: 20px;
}

.input-fild button {
    background-color: #ff5400;
}

/* footer section...... */

footer {
    margin: 100px 0px 0px 0px;
    background: rgba(19, 19, 24, 0.05);
}

.social-icon {
    display: flex;
    justify-content: center;
    padding-top: 250px;
}

.social-icon a {
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    background-color: #fff;
    border-radius: 50%;
}

.social-icon a i {
    font-size: 3em;
    color: black;
}

/* Hover  Effect social-icon..... */

.social-icon a:hover {
    background-color: #070211;
    transition: 0.5s;
}

.social-icon a:hover i {
    color: white;
    transition: 0.5s;
}

.footter-button {
    padding: 30px;
    text-align: center;
}

.designer {
    color: red;
    font-size: 1.2em;
    font-weight: 600;
}

.footter-button p {
    color: black;
    font-size: 1.2em;
}

.footer-address {
    border: 1px white dotted;
}

.footer-logo {
    gap: 10px;
    margin: 100px auto;
    margin-bottom: -200px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer-logo span {
    color: #ff5400;
}

.footer-text {
    margin: 250px auto;
    margin-bottom: -200px;
    align-items: center;
    display: flex;
    justify-content: center;
}